.arxiv2git {
	background-color: #eee;
	color: #000;
  font-size: 90%;

  margin: 1em 0 0 0;
	padding: .7em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
 
}

.arxiv2git h1 {
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	font-style: normal;
  display: inline;
}


.arxiv2git a {
	  /* font-weight: bold; */
}

